<section class="Home_page_menu">
  <div class="Home_creation_line">
    <p class="Home_menu create" ><%= link_to "Create Account", new_customer_path %></p>
    <p class="Home_menu signin" ><%= link_to "Sign in",new_sessions_path %></p>
  </div>
    <h1 class="heading">Welcome to our restaurent!</h1>
    <p class="content"> <img src="content.png"></p>
</section>
