<section class="Home_page_menu">
  <table width="100%">
    <tr>
      <th></th>
      <th></th>
      <th width="15%" text-align="right">
        <p class="Home_menu" >Create Account</p>
      </th>
      <th width="15%" text-align="right">
        <p class="Home_menu" >Sign in</p>
      </th>
      <th></th>
      <th></th>
    </tr>
  </table>
</section>
